@using Umbraco.Cms.Web.Common.PublishedModels;
@using System.Diagnostics;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
	}

<section class="hero-section">
	<div>
		<h1>@Model.Value("h1")</h1>
		<p>@Model.Value("leadText")</p>
		<div class="hero-buttons">
			<a href="@Model.Value("buttonPrimaryUrl")" class="primary-button">@Model.Value("buttonPrimaryText")</a>
			<a href="@Model.Value("buttonSecondaryUrl")">@Model.Value("buttonSecondaryText")</a>
		</div>
	</div>
</section>
