@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = null;

    var faviconMedia = Umbraco.Media(Guid.Parse("48ab08dc-397c-41db-8c01-74c293c22e9d"));
    var faviconUrl = faviconMedia?.Url() ?? string.Empty;

    var backgroundImageMedia = Model.Value<IPublishedContent>("bgImage");
    var bgImageUrl = backgroundImageMedia?.Url() ?? string.Empty;

    var title = Model.Value<string>("pageTitle") ?? "Apply Agency";
    var navigationItems = Umbraco.ContentAtRoot().FirstOrDefault()?.Children().Where(x => x.IsVisible())
    ?? Enumerable.Empty<IPublishedContent>();
}

<!DOCTYPE HTML>
<html>
<head>
    <title>@title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="@faviconUrl">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar">
        <a class="navbar-brand" href="/">apply:</a>
        <ul>
            @foreach (var item in navigationItems)
            {
                <li><a href="@item.Url()">@item.Name()</a></li>
            }
        </ul>
        <a href="https://www.apply.agency/kontakt" class="kontakt-os">Kontakt</a>
    </nav>

    <div class="bg-section" style="background-image: url('@bgImageUrl');"></div>

    @RenderBody()

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="container">
            @Model.Value("footerText")
        </div>
    </div>
</body>
</html>
